<% content_for :menu do -%>
  <%= render :partial => 'shared/menu' %>
<% end %>

<% content_for :footer do -%>
  <%= render :partial => 'shared/footer' %>
<% end %>

<%= link_to image_tag('logo-name-sm.png', :style => 'width:550px;'),  "http://github.com/drhenner/ror_ecommerce" -%>

<div class='main-docs white-board'>
  
  <div class='' style='display:block;'>
    <h3>Cart History</h3>
    <p class='margin-sides-10'>
      The cart history is a huge feature for all the marketing folks in an organization.  Whenever a variant is added to the cart it never leaves that cart.  Instead the cart_items have items that change state.  This means you know your what your customers are adding to their cart.  So now you can do simple searches to determine what marketing campaigns might work best for customers.
    </p>
    
    <p class='margin-sides-10'>
      What this also means is you need to archive the cart after it gets old.  This could also be a perfect candidate to a no-sql solution.
    </p>
  </div>

</div>
<div class=' clear'></div>
<div class=''>Please use <b>Ruby 1.9.2</b> and enjoy Rails 3.0.</div>

<% content_for :right_panel do -%>
  <%= render :partial => 'docs/contents'%>
<% end %>