<% content_for :menu do -%>
  <%#= render :partial => 'shared/menu' %>
<% end %>

<% content_for :footer do -%>
  <%= render :partial => 'shared/footer' %>
<% end %>

<div class='main-docs white-board logo2'>
  <%= link_to image_tag('logo-e.png',
                        :class => 'prepend-3',
                        :alt => 'Rails Ecommerce, built to scale.'),
              "http://github.com/drhenner/ror_ecommerce", 'data-popup' => true -%>
</div>

<div class='main-docs white-board'>

  <div class='' style='display:block;'>
    <h3>Shopping Cart</h3>
    <p class='margin-sides-10'>
      The Shopping Cart is built a bit differently than many carts.  The cart serves as the cart history, the wish list, the items saved for later and a normal cart.  What this gives you is history.  So now if your marketing team wants to know more information about customers you can supply a more individualized marketing strategy.  The downside is the cart will grow with time.  It would be wise to archive the cart information for larger apps.
    </p>
    <p class='margin-sides-10'>
      When you go to checkout the order is created and uses the active cart items in the item_type == shopping_cart.  At this time users are required to log in.  The customer navigates through several small forms to complete the checkout.  This process was inspired by several major websites when creating a multiform checkout.  One large form allows users a greater chance to make a mistake.  Errors on forms are very frustrating so these small forms should keep your customers happy.  Adding an AB tests here to allow users to see different checkout processes will be a future project.
    </p>
    <p class='margin-sides-10'>
      I will be creating a rack app in the future that will replace this cart.  It will use a noSQL backend and will scale to allow you to not worry about archiving the data.
    </p>
  </div>

</div>
<div class=' clear'></div>
<div class=''>Please use <b>Ruby 1.9.2</b> and enjoy Rails 3.0.</div>

<% content_for :right_panel do -%>
  <%#= render :partial => 'docs/contents'%>
  <%= render :partial => '/shared/side_menu2' %>
<% end %>