.bundle
db/*.sqlite3
log/*.log
tmp/**/*

.DS_Store
nbproject/*
.vimrc
.rvmrc
.vim

log
tmp
tmp/**/*
tmp/**/**/*
tmp/*
log/*
.project
nbproject
*.swp
public/assets/**/*
public/assets/*
.rvmrc
config/config.yml
solr/data
coverage/*
Gemfile.lock
#config/database.yml