<% content_for :menu do -%>
  <%= render :partial => 'shared/menu' %>
<% end %>

<% content_for :footer do -%>
  <%= render :partial => 'shared/footer' %>
<% end %>

<div class='main-docs dark-board'>
  <%= link_to image_tag('logo-name-sm.png', :style => 'width:550px;',
                                            :alt => 'Ruby on Rails E-commerce, built to scale.'),
                        "http://github.com/drhenner/ror_ecommerce" -%>
  <div class=' column' style='display:block;'>
    <p class=' description'>
      RoR Ecommerce started because I wanted a better e-commerce solution.  I didn't like the current Ruby on Rails e-commerce solutions so much I had to write my own.  At the end of the day I hope you enjoy this project.
    </p>
    <p class=' info'>
      Start-up costs are very high and we understand that. RoRecommerce.com’s platform is specifically created to minimize those cost, decrease the time to develop an e-commerce platform in order to start making money and increase the opportunities for success.
    </p>
    <p class=' info'>
      Interested in RoRecommerce.com’s platform? We are currently evaluating potential partnerships and/or professional services opportunities.
    </p>

    <p class=' info'>
      Please contact us for more information.  info@rorecommerce.com, 480-323-6537
    </p>
  </div>

  <div class=' clear'></div>
  <div class=''>Rails E-commerce, built to scale.</div>
</div>
