/* line 11, ../../app/stylesheets/main.scss */
.rounded-4 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  behavior: url(border-radius.htc);
}

/* line 15, ../../app/stylesheets/main.scss */
.rounded-6 {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  behavior: url(border-radius.htc);
}

/* line 19, ../../app/stylesheets/main.scss */
.rounded-8 {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(border-radius.htc);
}

/* line 23, ../../app/stylesheets/main.scss */
.rounded-10 {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  behavior: url(border-radius.htc);
}

/* line 27, ../../app/stylesheets/main.scss */
.margin-sides-10 {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 32, ../../app/stylesheets/main.scss */
.margin-vertical-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 38, ../../app/stylesheets/main.scss */
#menu {
  display: inline-block;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
}

/* line 48, ../../app/stylesheets/main.scss */
#menu ul li {
  float: left;
  list-style: none outside none;
  margin: 0 3px 0 0;
}

/* line 54, ../../app/stylesheets/main.scss */
#menu ul li.current_page_item {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: url("../images/background/black_40.png") repeat scroll 0 0 transparent;
}

/* line 62, ../../app/stylesheets/main.scss */
#menu ul li.current_page_item a {
  color: #FFAE00;
}

/* line 66, ../../app/stylesheets/main.scss */
#menu ul li a {
  color: white;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

/* line 73, ../../app/stylesheets/main.scss */
#menu ul {
  float: right;
  margin-bottom: 0;
}

/* line 78, ../../app/stylesheets/main.scss */
#menu ul li.page_item {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: url("../images/background/black_40.png") repeat scroll 0 0 transparent;
}

/* line 86, ../../app/stylesheets/main.scss */
#menu ul li {
  float: left;
  list-style: none outside none;
  margin: 0 3px 0 0;
}

/* line 92, ../../app/stylesheets/main.scss */
#main {
  padding: 5px;
  color: #FFF;
}

/* line 98, ../../app/stylesheets/main.scss */
#main h1 {
  color: #FFF;
}

/* line 102, ../../app/stylesheets/main.scss */
#main .install {
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  behavior: url(border-radius.htc);
  background: none repeat scroll 0 0 #080808;
  color: white;
  font-family: Monaco,Courier,monospace;
  font-size: 13px;
  padding: 9px;
  text-align: center;
}

/* line 112, ../../app/stylesheets/main.scss */
#main p.description {
  color: #DFDFBF;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 21px;
  line-height: 30px;
  margin: 0 0 23px;
  text-align: center;
}

/* line 121, ../../app/stylesheets/main.scss */
#main p.info {
  color: white;
  font-family: inherit;
  font-size: 15px;
  padding: 9px;
  text-align: left;
}

/* line 129, ../../app/stylesheets/main.scss */
#main-side-column {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  behavior: url(border-radius.htc);
  border: 4px solid;
}

/* line 134, ../../app/stylesheets/main.scss */
#main-side-column h3 {
  color: #DFDFBF;
  font-size: 21px;
  margin-top: 10px;
  margin-left: 25px;
}

/* line 141, ../../app/stylesheets/main.scss */
#main-side-column li {
  color: #FFFFFF;
  list-style: disc outside none;
  margin-left: 25px;
}

/* line 147, ../../app/stylesheets/main.scss */
#footer {
  padding-left: 20px;
  text-align: left;
}

/* line 152, ../../app/stylesheets/main.scss */
#footer {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  width: 940px;
}

/* line 160, ../../app/stylesheets/main.scss */
.page_wrapper {
  background: url("../images/background/lrock002.jpg") repeat scroll 0 0;
}

/* line 164, ../../app/stylesheets/main.scss */
.white-board {
  color: #566;
  background-color: #FFF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  behavior: url(border-radius.htc);
}

/* line 170, ../../app/stylesheets/main.scss */
.gray-board {
  color: #DFDFBF;
  background-color: #444;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  behavior: url(border-radius.htc);
}

/* line 175, ../../app/stylesheets/main.scss */
.dark-board {
  color: #DFDFBF;
  background-color: #121312;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  behavior: url(border-radius.htc);
}

/* line 181, ../../app/stylesheets/main.scss */
.main-docs {
  padding: 5px;
  margin-bottom: 10px;
}

/* line 187, ../../app/stylesheets/main.scss */
.rounded-main-wrapper {
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  behavior: url(border-radius.htc);
  background: url("../images/background/black_60.png") repeat scroll 0 0;
}

/* line 193, ../../app/stylesheets/main.scss */
.CodeRay {
  background-color: #232323;
  border: 1px solid black;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #E6E0DB;
  padding: 3px 5px;
  overflow: auto;
  font-size: 12px;
  margin: 12px 0;
}

/* line 203, ../../app/stylesheets/main.scss */
.CodeRay pre {
  margin: 0px;
  padding: 0px;
}

/* line 208, ../../app/stylesheets/main.scss */
.CodeRay .an {
  color: #E7BE69;
}

/* html attribute */
/* line 209, ../../app/stylesheets/main.scss */
.CodeRay .c {
  color: #BC9358;
  font-style: italic;
}

/* comment */
/* line 210, ../../app/stylesheets/main.scss */
.CodeRay .ch {
  color: #509E4F;
}

/* escaped character */
/* line 211, ../../app/stylesheets/main.scss */
.CodeRay .cl {
  color: #FFF;
}

/* class */
/* line 212, ../../app/stylesheets/main.scss */
.CodeRay .co {
  color: #FFF;
}

/* constant */
/* line 213, ../../app/stylesheets/main.scss */
.CodeRay .fl {
  color: #A4C260;
}

/* float */
/* line 214, ../../app/stylesheets/main.scss */
.CodeRay .fu {
  color: #FFC56D;
}

/* function */
/* line 215, ../../app/stylesheets/main.scss */
.CodeRay .gv {
  color: #D0CFFE;
}

/* global variable */
/* line 216, ../../app/stylesheets/main.scss */
.CodeRay .i {
  color: #A4C260;
}

/* integer */
/* line 217, ../../app/stylesheets/main.scss */
.CodeRay .il {
  background: #151515;
}

/* inline code */
/* line 218, ../../app/stylesheets/main.scss */
.CodeRay .iv {
  color: #D0CFFE;
}

/* instance variable */
/* line 219, ../../app/stylesheets/main.scss */
.CodeRay .pp {
  color: #E7BE69;
}

/* doctype */
/* line 220, ../../app/stylesheets/main.scss */
.CodeRay .r {
  color: #CB7832;
}

/* keyword */
/* line 221, ../../app/stylesheets/main.scss */
.CodeRay .rx {
  color: #A4C260;
}

/* regex */
/* line 222, ../../app/stylesheets/main.scss */
.CodeRay .s {
  color: #A4C260;
}

/* string */
/* line 223, ../../app/stylesheets/main.scss */
.CodeRay .sy {
  color: #6C9CBD;
}

/* symbol */
/* line 224, ../../app/stylesheets/main.scss */
.CodeRay .ta {
  color: #E7BE69;
}

/* html tag */
/* line 225, ../../app/stylesheets/main.scss */
.CodeRay .pc {
  color: #6C9CBD;
}

/* boolean */
