
<% content_for :menu do -%>
  <%= render :partial => 'shared/menu' %>
<% end %>

<% content_for :footer do -%>
  <%= render :partial => 'shared/footer' %>
<% end %>

<%= link_to image_tag('logo-name-sm.png', :style => 'width:550px;'),  "http://github.com/drhenner/ror_ecommerce" -%>

<div class='main-docs white-board'>
  
  <div class='' style='display:block;'>
    <p class='margin-sides-10'>
      Creating a product is not straight forward for the first product.  If you plan on creating a large amount of products and product types you will find that this process will help you a lot.  It might be easiest to create populate script to do this automatically.  Every system will need custom script so that has not been moved into RoR Ecommerce Base App. 
    </p>
    
    <h3>Properties</h3>
    <p class='margin-sides-10'>
      A property is something like Color, Size, Weight, Flavor.  You will be able to add specifics to the properties when you create the product variants.  Don't create a property of red or 16oz, just do Color and Weight and add specifics when you create the variants.
    </p>
    
    <h3>Prototypes</h3>
    <p class='margin-sides-10'>
      A prototype is something like Shoe or Clothes.  Again try not to be very specific at this point.  
    </p>
    
    <h3>Product Types</h3>
    <p class='margin-sides-10'>
      Product Types have not been completely built out.  This is required and its intent to allow categorizing products.  The intent will be have breadcrumbs and sub categories.  So you might have a product type of Shoes => Sport Shoes => running shoes.  You would give a running shoe the running shoe type but searching under sports shoes or just 'Shoes' will have the running shoe.  So now you have a product type categorization.  Until this is complete just assign the product its most specific category.
    </p>
    
    <h3>Products</h3>
    <p class='margin-sides-10'>
      When you create the product you will see that this is where you will add 16oz to weight and Red to the color property.  Also once you select a prototype the property list will reduce.  When you have a lot of properties for many types of products this will help you a lot.

    </p>
    
    <h3>Variants</h3>
    <p class='margin-sides-10'>
      A variant is a specific type of product.  If you have a "shoe" prototype, the product might be Air Jordan's, then variant could be size 9.5.  Thus you can sell each variant.
      <p class='margin-sides-10'>To add a variant you must first add a product.  Then click on the product in the admin grid to edit it.  You will see the Add Variant button here. </p>
    </p>
    
    <h3>Images</h3>
    <p class='margin-sides-10'>
      To add an image you must first add a product.  Then click on the product in the admin grid to edit it.  You will see the Add Variant button here.

    </p>
  </div>

</div>
<div class=' clear'></div>
<div class=''>Please use <b>Ruby 1.9.2</b> and enjoy Rails 3.0.</div>

<% content_for :right_panel do -%>
  <%= render :partial => 'docs/contents'%>
<% end %>