<% content_for :menu do -%>
  <%= render :partial => 'shared/menu' %>
<% end %>

<% content_for :footer do -%>
  <%= render :partial => 'shared/footer' %>
<% end %>

<div class='main-docs white-board logo2'>
  <%= link_to image_tag('logo-e.png',
                        :class => 'prepend-3',
                        :alt => 'Rails Ecommerce, built to scale.'),
              "http://github.com/drhenner/ror_ecommerce" -%>
</div>

<div class='main-docs white-board'>

  <div class='' style='display:block;'>
    <h3>Fulfillments</h3>
    <p class='margin-sides-10'>
      Several things happen when you fulfill an order.
      <ol>
        <li>Payment is captured</li>
        <li>Invoice is updated to log leger transactions</li>
        <li>Shipment is marked as ready to send and associated to the order_items</li>
        <li>If everything works the request sends the user to the shipment page</li>
      </ol>
    </p>
    <p class='margin-sides-10'>
      Also many times a user will make an order then call customer service to change their address.  Fulfillments allow a CS user to change the address before the item ships.
    </p>
  </div>

</div>
<div class=' clear'></div>
<div class=''>Please use <b>Ruby 1.9.2</b> and enjoy Rails 3.0.</div>

<% content_for :right_panel do -%>
  <%= render :partial => 'docs/contents'%>
<% end %>