
<a href='http://www.pledgie.com/campaigns/14003'>
  <img  alt='Click here to lend your support to: RoR Ecommerce and make a donation at www.pledgie.com !' 
        src='http://www.pledgie.com/campaigns/14003.png?skin_name=chrome' 
        border='0' />
</a>

<ul>
  <li class='page_item'><%= link_to 'Home', root_path %></li>
  <li class='page_item'><%= link_to 'Doc', docs_installation_path %></li>
  <li class='page_item'><%= link_to 'Info', info_about_path %></li>
</ul>