<ul>
  <li class='page_item'><%= link_to 'Home', root_path %></li>
  <li class='page_item'><%= link_to 'Doc', docs_installation_path %></li>
  <li class='page_item'><%= link_to 'Info', info_about_path %></li>
</ul>