<% content_for :menu do -%>
  <%= render :partial => 'shared/menu' %>
<% end %>

<% content_for :footer do -%>
  <%= render :partial => 'shared/footer' %>
<% end %>

<div class='main-docs dark-board'>
  <%= link_to image_tag('logo-name-sm.png', :style => 'width:550px;',
                                            :alt => 'Ruby on Rails E-commerce, built to scale.'),
                        "http://github.com/drhenner/ror_ecommerce" -%>
  <div class=' column' style='display:block;'>
    <p class=' description'>
      RoR Ecommerce started because I was angry about existing e-commerce solutions.  I didn't like the current Ruby on Rails e-commerce solutions so much I had to write my own solution.  At the end of the day I hope you enjoy this project.
    </p>
    <p class=' info'>
      RoR E-commerce developers are currently taking contract jobs for to get your e-commerce solution up and running ASAP.  We take a combination of equity and cash.  We prefer to receive this combination.  This provides extra motivation to create a profitable business for you.  It also means we will evaluate your business model and only take jobs that we are enthusiastic about.
    </p>
    <p class=' info'>
      Our consultancy can supply Project managers, Developers and QA Engineers (experienced in Selenium.)  Give us the content and a direction and we will work with you to come up with the best solution for your needs.
    </p>

    <p class=' info'>
      Please contact David Henner for more information.  drhenner@yahoo.com, 480-323-6537
    </p>
  </div>

  <div class=' clear'></div>
  <div class=''>Rails E-commerce, built to scale.</div>
</div>
