@import "compass";
@import "blueprint";


@mixin rounded($radius: 4px) {
  -moz-border-radius:$radius;
  -webkit-border-radius:$radius;
  behavior:url(border-radius.htc);
}

.rounded-4 {
  @include rounded(4px);
}

.rounded-6 {
  @include rounded(6px);
}

.rounded-8 {
  @include rounded(8px);
}

.rounded-10 {
  @include rounded(10px);
}

//  BASIC LAYOUT
#menu {
  display:inline-block;
  //float:left;
  font-family:Verdana,Geneva,sans-serif;
  font-size:12px;
  margin-left:10px;
  margin-right:10px;
  width:940px;
}

#menu ul li {
  float:left;
  list-style:none outside none;
  margin:0 3px 0 0;
}

#menu ul li.current_page_item {
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background:url("../images/background/black_40.png") repeat scroll 0 0 transparent;
}

#menu ul li.current_page_item a {
  color:#FFAE00;
}

#menu ul li a {
  color:white;
  display:block;
  padding:5px 10px;
  text-decoration:none;
}

#menu ul {
  float:right;
  margin-bottom:0;
}

#menu ul li.page_item {
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background:url("../images/background/black_40.png") repeat scroll 0 0 transparent;
}

#menu ul li {
  float:left;
  list-style:none outside none;
  margin:0 3px 0 0;
}

#main {
  padding:5px;
  color:#FFF;
}


#main h1 {
  color:#FFF;
}

#main .install {
  @include rounded(14px);
  background:none repeat scroll 0 0 #080808;
  color:white;
  font-family:Monaco,Courier,monospace;
  font-size:13px;
  padding:9px;
  text-align:center;
}

#main p.description {
  color:#DFDFBF;
  font-family:Arial,Helvetica,sans-serif;
  font-size:21px;
  line-height:30px;
  margin:0 0 23px;
  text-align:center;
}

#main p.info {
  color:white;
  font-family:inherit;
  font-size:15px;
  padding:9px;
  text-align:left;
}

#main-side-column {
  @include rounded(10px);
  border: 4px solid;
}

#main-side-column h3 {
  color:#DFDFBF;
  font-size:21px;
  margin-top:10px;
  margin-left:25px;
}

#main-side-column li {
  color:#FFFFFF;
  list-style:disc outside none;
  margin-left:25px;
}

#footer {
  padding-left:20px;
  text-align:left;
}

#footer {
  display:inline;
  float:left;
  margin-left:10px;
  margin-right:10px;
  text-align:center;
  width:940px;
}
.page_wrapper {
  background:url("../images/background/lrock002.jpg") repeat scroll 0 0;
}

.rounded-main-wrapper {
  @include rounded(11px);
  background:url("../images/background/black_60.png") repeat scroll 0 0;
}
