

<div id='content'>
  <h1>Ruby on Rails ror_blogcast</h1>
  <div class='tagline'>
    <em>Blogging made easy</em>
  </div>

  <div class='description'>
    <p>
      <span style="color:#8b1d1d;">ror_blogcast is a Ruby on Rails blog platform written completely in Rails 3.</span>

      Enjoy!

    </p>
  </div>
  <%= render :partial => '/shared/side_menu' %>
</div>
<div id='layout_footer'><span style="color:#8b1d1d;">ror_blogcast was created by Tian Valdemar Davis and is maintained by David Henner. ror_blogcast is free software under the MIT license.</span></div>
