<% content_for :menu do -%>
  <%= render :partial => 'shared/menu' %>
<% end %>

<% content_for :footer do -%>
  <%= render :partial => 'shared/footer' %>
<% end %>

<div>
  <%= link_to image_tag('logo-name.png', :style => 'width:550px;', :alt => 'Rails Ecommerce, built to scale.'),  "http://github.com/drhenner/ror_ecommerce" -%>
  <div class=' column' style='display:block;'>
    <p class='span-14 description'>
      RoR Ecommerce is a complete ecommerce platform written completely in Rails 3, and built to scale.
    </p>
    <p class='span-14 info'>
      Welcome to rorecommerce.com.  This site will house the documentation for the ror_ecommerce ecommerce platform.  
      There is a lot of work to be done.  My plan is to create an ecommerce in 15-minutes video.  You will need to 
      customize the platform but it should save you hundreds of hours of work.
    </p>
    
    <div class='install'>
      git clone git://github.com/drhenner/ror_ecommerce
    </div>
  </div>
  <div id='main-side-column' class=' column'>
    <h3 id='main-side-column-title'>Features</h3>
    <ul class='span-7'>
        <li>Shopping Cart</li>
        <li>Purchase Orders</li>
        <li>Product creation</li>
        <li>Shipments</li>
        <li>Fulfillment</li>
        <li>Admin Cart</li>
        <li>Cart History</li>
        <li>Solr Searching</li>
        <li>Wish List</li>
    </ul>
  </div>
</div>
<div class=' clear'></div>
<div class=''>Please use <b>Ruby 1.9.2</b> and enjoy <b>Rails 3.0</b>.</div>