

<div id='content'>
  <h1>Ruby on Rails RoR ecommerce</h1>
  <div class='tagline'>
    <em>e-commerce made easy</em>
  </div>

  <div class='description'>
    <p>
      <span style="color:#8b1d1d;">ror_ecommerce is a complete ecommerce platform written completely in Rails 3, and built to scale.</span>

      ror-e.com's goal is simple...to create the BEST, 100% free (open source), e-commerce platform using Ruby on Rails that scales with your business needs. Our project is a creation of dedicated developers focused on developing and maintaining a platform which will save any business the items they value the most...time, effort, resources and most of all, money.

    </p>
  </div>
  <%= render :partial => '/shared/side_menu' %>
</div>
<div id='layout_footer'><span style="color:#8b1d1d;">ror_ecommerce was created and is maintained by David Henner. ror_ecommerce is free software under the MIT license.</span></div>
