<% content_for :menu do -%>
  <%= render :partial => 'shared/menu' %>
<% end %>

<% content_for :footer do -%>
  <%= render :partial => 'shared/footer' %>
<% end %>

<div class='main-docs gray-board'>
  <%= link_to image_tag('logo-name-sm.png', :style => 'width:550px;', :alt => 'Ruby on Rails E-commerce, built to scale.'),  "http://github.com/drhenner/ror_ecommerce" -%>
  <div class=' column' style='display:block;'>
    <p class=' description'>
      RoR Ecommerce is a complete ecommerce platform written completely in Rails 3, and built to scale.
    </p>
    <p class=' info'>
      The goal of this project is to create the most scalable, most developer friendly and most extendable e-commerce platform for Ruby on Rails.  This project is current looking for a core team to help build it into the future.
    </p>
    <p class=' info'>
      Needs:
      <ol>
        <li> Base functionality (CIM interface). </li>
        <li> Rack app to extend the cart. </li>
        <li> Rack app to extend the product details page. </li>
        <li> Rack app to create a blog within this project. </li>
        <li> There are an extended number of Rack apps yet to be thought of. </li>
        <li> Documentation </li>
        <li> Controller Test </li>
      </ol>

    </p>

    <p class=' info'>
      Please contact David Henner for more information.  drhenner@yahoo.com
    </p>
  </div>

  <div class=' clear'></div>
  <div class=''>Rails E-commerce, built to scale.</div>
</div>
