
<% content_for :menu do -%>
  <%= render :partial => 'shared/menu' %>
<% end %>

<% content_for :footer do -%>
  <%= render :partial => 'shared/footer' %>
<% end %>

<%= link_to image_tag('logo-name-sm.png', :style => 'width:550px;'),  "http://github.com/drhenner/ror_ecommerce" -%>

<div class='main-docs white-board'>
  
  <div class='' style='display:block;'>
    <h3>Admin Cart</h3>
    <p class='margin-sides-10'>
      The Admin Cart is built a with a key-value store in mind rather than a SQL backend.  This decision was made for several reasons.  First the admin shouldn't be used by more than 50 people at any given time ever.  So you don't have to worry about the amount of memory (within reason) the cart actually holds on the server.  Second the Admin Cart doesn't need to store the history of the admin cart for marketing purposes.  The admin cart will not need to live longer that 4 hours. (You should be able to guarantee an admin will finish their phone call within a few hours) Also the admin cart should make as few Database calls as possible.  For these reasons the admin cart creates zero records in the Db until it is ready to make the purchase.  The cart is held in the memcache session store.  
    </p>
    <p class='margin-sides-10'>
      With this setup the admin cart should scale to support very large websites without many issues.  
    </p>
  </div>

</div>
<div class=' clear'></div>
<div class=''>Please use <b>Ruby 1.9.2</b> and enjoy Rails 3.0.</div>

<% content_for :right_panel do -%>
  <%= render :partial => 'docs/contents'%>
<% end %>