<div class="sidebar">
  <div class="block-content" id="intro">
    <%= link_to image_tag( 'logo-e.png', :style => 'width: 270px;'), root_path %>
    <h2><%= link_to "RoR-e blog.", posts_path %></h2>
    <p>RoR-e. This blog contains information we find interesting in the ruby community.  We write about Ruby, Rails and occasional rant. </p>
  </div>

  <div class="block-content"  >
    <%= render :partial => '/shared/side_menu' %>
  </div>
</div><!--sidebar-->